#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dinner-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.dinner-table {
    min-width: 600px;
}

.dinner-table td {
    font-size: 22px;
    padding: 16px;
    border: 1px solid gray;
}

.dinner-table button {
    width: 50px;
    padding: 10px;
    background-color: azure;
    border: 1px solid teal;
    border-radius: 10px;
}
